var MyClass = React.createClass({
  render: function() {
    return (
      <div>
        {'{'}% load static %{'}'}
        {'{'}% if error == "no" %{'}'}
        {'{'}% endif %{'}'}
        {'{'}% if error == "yes" %{'}'}
        {'{'}% endif %{'}'}
        {/*<![endif]*/}
        <title>Online Notes Sharing- Assign Status</title>
        <link rel="stylesheet" href="{% static 'js/plugins/datatables/dataTables.bootstrap4.min.css' %}" />
        <link rel="stylesheet" id="css-main" href="{% static 'css1/codebase.min.css' %}" />
        <div id="page-container" className="sidebar-o sidebar-inverse side-scroll page-header-fixed main-content-narrow">
          {'{'}% include "sidebar.html" %{'}'}
          {'{'}% include "admin_nav.html" %{'}'}
          {/* Main Container */}
          <main id="main-container">
            <div className="container my-5">
              <h2 className="text-center">Assign Status</h2>
              <hr />
              <form method="post">
                {'{'}% csrf_token %{'}'}
                <label>Notes ID</label>
                <input type="text" name="noteid" className="form-control" defaultValue="{{notes.id}}" readOnly />
                <label>Status</label>
                <select name="status" className="form-control">
                  <option value="Accept">Accept</option>
                  <option value="Reject">Reject</option>
                </select>
                <br />
                <input type="submit" defaultValue="Submit" className="btn btn-primary" />
              </form>
            </div>
          </main>
          {/* END Main Container */}
        </div>
        {/* END Page Container */}
        {/* Codebase Core JS */}
        {/* Page JS Plugins */}
        {/* Page JS Code */}
      </div>
    );
  }
});